body {
  margin: 0;
  padding: 0;
  background-color:#000000;
}

.image{
  margin-top: -30px;
  height: 135px;
  width: 135px;
}

.color-bar {
  background-color: #000000; /* Choose your desired color */
  height: 100px; /* Adjust the height as needed */
  width: 100%; /* Make it full-width */
  position: fixed;
  top: 0;
  left: 0;
}

/* Add additional styles for your content */
.content {
  margin-top: 60px; /* Ensure content is below the bar */
  padding: 20px;
}


/*Challenges Button*/
.challengesButton {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1a1a1a00;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-top: -50px;
  margin-left:230px;
  min-height: 3.75em;
  width: 10em;
  outline: none;
  padding: 1em 2.3em;
  position: fixed;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
 }
 .challengesButton:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
 }
 .challengesButton:active {
  box-shadow: none;
  transform: translateY(0);
 }
 .challengesButton {
  background-color: #1a1a1a3e;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  color: #fff;
}


/*event Button*/
.eventButton {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1a1a1a00;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-top: -50px;
  margin-left:440px;
  min-height: 3.75em;
  width: 10em;
  outline: none;
  padding: 1em 2.3em;
  position:fixed;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
 }
 .eventButton:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
 }
 .eventButton:active {
  box-shadow: none;
  transform: translateY(0);
 }
 .eventButton {
  background-color: #1a1a1a3e;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  color: #fff;
}


/*Job Button*/
.jobButton {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1a1a1a00;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-top: -50px;
  margin-left:650px;
  min-height: 3.75em;
  width: 10em;
  outline: none;
  padding: 1em 2.3em;
  position:fixed;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
 }
 .jobButton:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
 }
 .jobButton:active {
  box-shadow: none;
  transform: translateY(0);
 }
 .jobButton {
  background-color: #1a1a1a3e;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  color: #fff;
}


/*search bar*/
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  margin-left: 1100px;
  margin-top: 30px;
  max-width: 300px;
}
.input {
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0 0 5px #C1D9BF, 0 0 0 10px #f5f5f5eb;
  transition: .3s ease;
}
.input::placeholder {
  color: #aaa9a9;
}
.icon {
  position: absolute;
  left: 1rem;
  fill: #ffffff;
  width: 1rem;
  height: 1rem;
}


/*Logo*/
.uiverse {
  --duration: 7s;
  --easing: linear;
  --c-color-1: rgba(255, 163, 26, .7);
  --c-color-2: #1a23ff;
  --c-color-3: #e21bda;
  --c-color-4: rgba(255, 232, 26, .7);
  --c-shadow: rgba(255, 223, 87, .5);
  --c-shadow-inset-top: rgba(255, 223, 52, .9);
  --c-shadow-inset-bottom: rgba(255, 250, 215, .8);
  --c-radial-inner: #ffd215;
  --c-radial-outer: #fff172;
  --c-color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  cursor: pointer;
  border: none;
  display: table;
  border-radius: 24px;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-left: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--c-color);
  background: radial-gradient(circle, var(--c-radial-inner), var(--c-radial-outer) 80%);
  box-shadow: 0 0 14px var(--c-shadow);
}

.uiverse:before {
  content: '';
  pointer-events: none;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  box-shadow: inset 0 3px 12px var(--c-shadow-inset-top), inset 0 -3px 4px var(--c-shadow-inset-bottom);
}

.uiverse .rapper {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  border-radius: 24px;
  min-width: 132px;
  padding: 12px 0;
}

.uiverse .rapper span {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.uiverse .rapper .circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: blur(var(--blur, 8px));
  background: var(--background, transparent);
  transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
  animation: var(--animation, none) var(--duration) var(--easing) infinite;
}

.uiverse .rapper .circle.circle-1, .uiverse .rapper .circle.circle-9, .uiverse .rapper .circle.circle-10 {
  --background: var(--c-color-4);
}

.uiverse .rapper .circle.circle-3, .uiverse .rapper .circle.circle-4 {
  --background: var(--c-color-2);
  --blur: 14px;
}

.uiverse .rapper .circle.circle-5, .uiverse .rapper .circle.circle-6 {
  --background: var(--c-color-3);
  --blur: 16px;
}

.uiverse .rapper .circle.circle-2, .uiverse .rapper .circle.circle-7, .uiverse .rapper .circle.circle-8, .uiverse .rapper .circle.circle-11, .uiverse .rapper .circle.circle-12 {
  --background: var(--c-color-1);
  --blur: 12px;
}

.uiverse .rapper .circle.circle-1 {
  --x: 0;
  --y: -40px;
  --animation: circle-1;
}

.uiverse .rapper .circle.circle-2 {
  --x: 92px;
  --y: 8px;
  --animation: circle-2;
}

.uiverse .rapper .circle.circle-3 {
  --x: -12px;
  --y: -12px;
  --animation: circle-3;
}

.uiverse .rapper .circle.circle-4 {
  --x: 80px;
  --y: -12px;
  --animation: circle-4;
}

.uiverse .rapper .circle.circle-5 {
  --x: 12px;
  --y: -4px;
  --animation: circle-5;
}

.uiverse .rapper .circle.circle-6 {
  --x: 56px;
  --y: 16px;
  --animation: circle-6;
}

.uiverse .rapper .circle.circle-7 {
  --x: 8px;
  --y: 28px;
  --animation: circle-7;
}

.uiverse .rapper .circle.circle-8 {
  --x: 28px;
  --y: -4px;
  --animation: circle-8;
}

.uiverse .rapper .circle.circle-9 {
  --x: 20px;
  --y: -12px;
  --animation: circle-9;
}

.uiverse .rapper .circle.circle-10 {
  --x: 64px;
  --y: 16px;
  --animation: circle-10;
}

.uiverse .rapper .circle.circle-11 {
  --x: 4px;
  --y: 4px;
  --animation: circle-11;
}

.uiverse .rapper .circle.circle-12 {
  --blur: 14px;
  --x: 52px;
  --y: 4px;
  --animation: circle-12;
}

@keyframes circle-1 {
  33% {
    transform: translate(0px, 16px) translateZ(0);
  }

  66% {
    transform: translate(12px, 64px) translateZ(0);
  }
}

@keyframes circle-2 {
  33% {
    transform: translate(80px, -10px) translateZ(0);
  }

  66% {
    transform: translate(72px, -48px) translateZ(0);
  }
}

@keyframes circle-3 {
  33% {
    transform: translate(20px, 12px) translateZ(0);
  }

  66% {
    transform: translate(12px, 4px) translateZ(0);
  }
}

@keyframes circle-4 {
  33% {
    transform: translate(76px, -12px) translateZ(0);
  }

  66% {
    transform: translate(112px, -8px) translateZ(0);
  }
}

@keyframes circle-5 {
  33% {
    transform: translate(84px, 28px) translateZ(0);
  }

  66% {
    transform: translate(40px, -32px) translateZ(0);
  }
}

@keyframes circle-6 {
  33% {
    transform: translate(28px, -16px) translateZ(0);
  }

  66% {
    transform: translate(76px, -56px) translateZ(0);
  }
}

@keyframes circle-7 {
  33% {
    transform: translate(8px, 28px) translateZ(0);
  }

  66% {
    transform: translate(20px, -60px) translateZ(0);
  }
}

@keyframes circle-8 {
  33% {
    transform: translate(32px, -4px) translateZ(0);
  }

  66% {
    transform: translate(56px, -20px) translateZ(0);
  }
}

@keyframes circle-9 {
  33% {
    transform: translate(20px, -12px) translateZ(0);
  }

  66% {
    transform: translate(80px, -8px) translateZ(0);
  }
}

@keyframes circle-10 {
  33% {
    transform: translate(68px, 20px) translateZ(0);
  }

  66% {
    transform: translate(100px, 28px) translateZ(0);
  }
}

@keyframes circle-11 {
  33% {
    transform: translate(4px, 4px) translateZ(0);
  }

  66% {
    transform: translate(68px, 20px) translateZ(0);
  }
}

@keyframes circle-12 {
  33% {
    transform: translate(56px, 0px) translateZ(0);
  }

  66% {
    transform: translate(60px, -32px) translateZ(0);
  }
}







/*Content for challenges*/
.card {
  width: 580px;
  height: 300px;
  margin-top: 50px;
  margin-left: 60px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 .card-details {
  color: black;
  height: 100%;
  gap: 0em;
  place-content: left;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 .text-body {
  color: rgb(122, 122, 122);
  font-family: 'Courier New', Courier, monospace;
 }
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
 }
 /*Hover*/
 .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }


 /*text1*/
 .text{
  color: #f5f5f5;
  margin-top: 120px;
  margin-left: 20px;
  font-family: 'Courier New', Courier, monospace;
 }


 /*text2*/
 .text2{
  color: #f5f5f5;
  margin-left: 20px;
  font-family: 'Courier New', Courier, monospace;
 }


 /*Content2 for challenges*/
.card2 {
  width: 580px;
  height: 300px;
  margin-top: -360px;
  margin-left: 800px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 .card-details2 {
  color: black;
  height: 100%;
  gap: 0em;
  place-content: left;
 }
 .card-button2 {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 .text-body2 {
  color: rgb(122, 122, 122);
  font-family: 'Courier New', Courier, monospace;
 }
 /*Text*/
 .text-title2 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
 }
 /*Hover*/
 .card2:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 .card2:hover .card-button2 {
  transform: translate(-50%, 50%);
  opacity: 1;
 }


 .text2{
  color: #f5f5f5;
  margin-top: 120px;
  margin-left: 20px;
  font-family: 'Courier New', Courier, monospace;
 }


/*Content3 for challenges*/
.card3 {
  width: 580px;
  height: 300px;
  margin-top: 70px;
  margin-left: 60px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 .card-details3 {
  color: black;
  height: 100%;
  gap: 0em;
  place-content: left;
 }
 .card-button3 {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 .text-body3 {
  color: rgb(122, 122, 122);
  font-family: 'Courier New', Courier, monospace;
 }
 /*Text*/
 .text-title3 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
 }
 /*Hover*/
 .card3:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 .card3:hover .card-button3 {
  transform: translate(-50%, 50%);
  opacity: 1;
 }


 /*Content4 for challenges*/
.card4 {
  width: 580px;
  height: 300px;
  margin-top: -360px;
  margin-left: 800px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 .card-details4 {
  color: black;
  height: 100%;
  gap: 0em;
  place-content: left;
 }
 .card-button4 {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 .text-body4 {
  color: rgb(122, 122, 122);
  font-family: 'Courier New', Courier, monospace;
 }
 /*Text*/
 .text-title4 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
 }
 /*Hover*/
 .card4:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 .card4:hover .card-button4 {
  transform: translate(-50%, 50%);
  opacity: 1;
 }